// ========================================
// BAGS
// ========================================

.bags {

  .wrapper {
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 5.7%;
    padding-right: 5.7%;

    @media (max-width: 1220px){
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 100px;
    }

    @media (max-width: 1070px){
      padding-top: 180px;
    }

    @include xs-block(){
      padding-top: 220px;
    }

    @include xxs-block(){
      padding-top: 260px;
    }
  }

  .btn {
    margin-top: 55px;
    width: 190px;
    border: 2.5px solid #141212;

    @include sm-block(){
      margin-top: 0;
    }
  }

  .btn-over {
    display: none;

    @include md-block(){
      display: block;
      position: absolute;
      bottom: -30px;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
    }
  }

  .btn-hide {
    @include md-block(){
      display: none;
    }
  }

  ul, li {
    margin: 0;
    padding: 0;
  }
}



.bags-content {
  position: absolute;
  right: 5.7%;
  max-width: 560px;
  padding-left: 10px;
  top: 80px;
  text-align: right;
  z-index: 2;

  @media (max-width: 1220px){
    right: 20px;
    top: 60px;
  }

  @include md-block(){
    top: 50px;
  }

  @include md-block(){
    left: 20px;
    text-align: center;
    max-width: 100%;
    padding-right: 10px;
  }
}

.bags-title {
  margin-bottom: 8px;

  span {
    font-size: 31px;

    @include sm-block(){
      font-size: 22px;
    }
  }
}

.bags-subtitle {
  margin: 0;
  padding: 0;
  margin-bottom: 80px;
  font-size: 24px;

  @media (max-width: 1220px){
    margin-bottom: 40px;
  }

  @include sm-block(){
    font-size: 20px;
  }
   
}

.bags-features {
  list-style-type: none;

  li {
    font-size: 19px;
    line-height: 54px;

    &::before {
      content: "";
      display: inline-block;
      width: 32px;
      height: 32px;
      vertical-align: middle;
    }

    @media (max-width: 1220px){
      line-height: 42px;
    }

    @include md-block(){
      display: none;
    }
  }

  .ic-purse::before {
    background-image: url("../images/ic-purse.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }

  .ic-skin::before {
    background-image: url("../images/ic-skin.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }

  .ic-snow::before {
    background-image: url("../images/ic-snow.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }

  .ic-bag::before {
    background-image: url("../images/ic-bag.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }

  .ic-feather::before {
    background-image: url("../images/ic-feather.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }
}

.bags-slider {
  max-width: 688px;
  position: relative;
  margin-bottom: 20px;

  @include md-block(){
    margin-right: auto;
    margin-left: auto;
  }
}

.bags-slide {
  max-width: 688px;
}

.bags .owl-theme .owl-nav {
  position: absolute;
  right: -450px;
  bottom: 70px;

  @media (max-width: 1180px){
    right: 0;
    left: 0;
  }
}

.bags .owl-theme .owl-prev,
.bags .owl-theme .owl-next {
  font-size: 15px;
  color: #000;
  text-decoration: underline;
  background: none;

  &:hover,
  &:focus,
  &:active {
    color: #000;
    text-decoration: underline;
    background: none;
  }
}

.bags .owl-dots {
  position: absolute;
  left: 0;
  right: 0;
  top: 55%;

  .owl-dot span {
    border-color: #fff;

    &:hover {
      background-color: #fff;
    }

  }
  
  .owl-dot.active span {
    background-color: #fff;
  }
}

.bags-desc {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.bags-desc__item {
  flex: 0 1 250px;
  margin: 8px;
}

.bags-desc__img {
  margin-bottom: 16px;
}

.bags-desc__text {
  font-size: 18px;
  text-align: center;
}

.bags-desc__title {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
  font-weight: bold;
}

.bags-desc__content {
  margin: 0;
  padding: 0;
}