// ========================================
// CONDITIONS
// ========================================

.conditions {
  padding-top: 80px;
  padding-bottom: 80px;
  background: #2d2741 url(../images/bkg-02.jpg) no-repeat center center;
  background-size: cover;

  @include sm-block(){
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .section-title {
    @include md-block(){
      text-align: center;
    }
  }
}

.conditions-container {
  max-width: 630px;
  margin-left: 90px;

  @include md-block(){
    margin-left: auto;
    margin-right: auto;
  }
}

.conditions .section-title {
  color: #fff;
  margin-bottom: 65px;

  @include sm-block(){
    margin-bottom: 40px;
  }
}

.conditions-form {
  max-width: 630px;
  padding: 30px 40px;
  border: 2px solid #fff;
  font-size: 0;
  text-align: center;

  @include xs-block(){
    padding: 20px 16px;
  }
}

.form-title{
  margin-bottom: 32px;
  font-size: 24px;
  color: #fff;
}

.form-field__container {
  margin-bottom: 7px;
  border: 1.5px solid rgba(255, 255, 255, 0.87);

  &:last-child {
    margin-bottom: 0;
  }

  input {
    display: block;
    width: 100%;
    padding: 12px 28px;
    border: 0;
    font-size: 18px;
    text-align: left;
    color: #fff;
    background-color: transparent;

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #fff;
    }

    &::-moz-placeholder { /* Firefox 19+ */
      color: #fff;
    }

    &:-ms-input-placeholder { /* IE 10+ */
      color: #fff;
    }

    &:-moz-placeholder { /* Firefox 18- */
      color: #fff;
    }

    @include sm-block(){
      font-size: 16px;
    }
  }
}

.conditions-form .btn {
  margin-top: 20px;
  width: 270px;
  border: 0;

  @include xxs-block(){
    width: 250px;
  }
}