// ========================================
// FOOTER
// ========================================

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #231f20;

  @include sm-block(){
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .wrapper {
    padding-left: 10%;
    padding-right: 10%;

    @include md-block(){
      padding-left: 5%;
      padding-right: 5%;
    }

    @include sm-block(){
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include sm-block(){
      flex-direction: column;
    }
  }
}

.footer-logo {
  @include sm-block(){
    margin-bottom: 20px;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.footer-logo__container {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.logo__container--small {
  width: 110px;
}

.footer-contacts {
  padding-top: 12px;
  color: #fff;
  
  @include sm-block(){
    margin-bottom: 30px;
  }
}

.footer-contact {
  position: relative;
  display: block;
  margin-bottom: 16px;
  padding-left: 50px;
  font-size: 18px;

  &:last-child {
    margin-bottom: 0;
  }

  @include xs-block(){
    margin-bottom: 18px;
    padding-left: 45px;
    font-size: 16px;
  }


  &::before {
    position: absolute;
    content: "";
    display: inline-block;
    left: 0;
    top: 0;
  }

  a {
    color: #fff;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;
    }
  }
}

.contacts-phone::before {
  top: 1px;
  left: 2px;
  width: 23px;
  height: 36px;
  background: url(../images/ic-phone.svg) no-repeat center center;
  background-size: cover;
}

.contacts-email::before {
  width: 30px;
  height: 22px;
  background: url(../images/ic-email.svg) no-repeat center center;
  background-size: cover;
}

.contacts-address::before {
  top: 1px;
  left: 2px;
  width: 24px;
  height: 32px;
  background: url(../images/ic-address.svg) no-repeat center center;
  background-size: cover;
}

