// ========================================
// TYPOGRAPHY
// ========================================

html, body {
  background: #fff;
  color: #000;
}

body, input, select, textarea, button {
  font-family: "CenturyGothic", sans-serif;
  font-size: 100%;
  line-height: 1.2;
}